In [0]:
import numpy as np
import time

Вручную вводим данные:

In [2]:
N = int(input('Введите N: '))

Введите N: 10

In [3]:
mean_costs = list(map(int, input('Введите N чисел: ').split()))

Введите N чисел: 1 2 3 2 1 4 2 5 3 1

Авто данные

In [0]:
def auto_values(maxN=1e5, maxCost=1e9):
    N = np.random.randint(2, maxN)
    mean_costs = np.random.randint(0, maxCost, N)
    return N, mean_costs

In [40]:
N, mean_costs = auto_values()
print(N)
print(mean_costs)

84300
[932014839 902786045 957783064 ... 558672068 924387589 632490487]

Алгоритм:

In [0]:
def algoritm(N, mean_costs):
    output      = np.zeros(N, dtype=int)
    output[-1]  = -1
    min_cost    = mean_costs[-1]
    west_cities = [min_cost] # хранит цены
    for i in range(N-2, -1, -1): # идем от N-2 до -1 с шагом -1, до -1 потому что -1 не включительно
        if mean_costs[i] <= min_cost:
            # если находися новый минимум, то нам больше не надо хранить все восточные города и 
            # мы знаем что из этого города не найдут лучшей жизни
            min_cost    = mean_costs[i]
            west_cities = [mean_costs[i]]
            output[i]   = -1
        else:
            # ищем лучшую жизнь
            for j, cost in enumerate(west_cities):
                if cost < mean_costs[i]: 
                    output[i] = i + j + 1
                    break
            west_cities.insert(0, mean_costs[i])
    return output

Проверка на известнных данных:

In [6]:
print(N)
print(*mean_costs) # звездочка просто ради такого вывода
print(*algoritm(N, mean_costs)) # звездочка просто ради такого вывода

10
1 2 3 2 1 4 2 5 3 1
-1 4 3 4 -1 6 9 8 9 -1

Несколько рандомных тестов

In [7]:
for _ in range(10):
    start = time.time()
    N, mean_costs = auto_values()
    print('N =', N)
    print('mean_costs =', mean_costs)
    print('output =', algoritm(N, mean_costs))
    print('time = %.3f' % (time.time() - start))
    print()

N = 16092
mean_costs = [201623251 999980827 109071335 ... 736544875 343046255 907524053]
output = [    2     2     5 ... 16090    -1    -1]
time = 0.092

N = 46299
mean_costs = [298942033 128495957 750708863 ...  75806937 293495933 143860842]
output = [    1     5     3 ...    -1 46298    -1]
time = 0.287

N = 96132
mean_costs = [ 71579388 520970605 854860024 ... 292199328 332645005 340757103]
output = [14  4  4 ... -1 -1 -1]
time = 0.980

N = 67322
mean_costs = [654477173 508323958 603229660 ... 751852652 725469472 784595019]
output = [    1     5     5 ... 67320    -1    -1]
time = 1.142

N = 40674
mean_costs = [732893056 264602997 103289178 ... 687862548 256445813 913510580]
output = [    1     2    12 ... 40672    -1    -1]
time = 0.270

N = 14700
mean_costs = [155508078 988156246 528902145 ... 381296254 749783320 442980525]
output = [   11     2     8 ...    -1 14699    -1]
time = 0.063

N = 1067
mean_costs = [560514233 901968694 953257826 ... 476619423 421242939 140626740]
output = [   3    3    3 ... 1065 1066   -1]
time = 0.004

N = 81645
mean_costs = [314748727 451798499 363467111 ... 419564774 863787771 684188808]
output = [    3     2     3 ...    -1 81644    -1]
time = 1.238

N = 7852
mean_costs = [ 86543587 314554374 756043007 ... 390297980 969177238  38046049]
output = [  13    8    5 ... 7851 7851   -1]
time = 0.030

N = 20145
mean_costs = [682966446 939311245 250582118 ... 406382713 729528405  24712787]
output = [    2     2     3 ... 20144 20144    -1]
time = 0.110